# Dépendances
node_modules/
functions/node_modules/

# Build
dist/
functions/lib/
coverage/

# Env
.env
.env.local
.env.*.local
.firebase/

# Éditeurs
.vscode/
.idea/
*.swp
.DS_Store

# Logs
*.log
npm-debug.log*

# Emulateurs
firebase-debug.log
firestore-debug.log
ui-debug.log
firebase-export-*


# PWA
dev-dist/